node-red.txt
[{"id":"83cdf817.9185c8","type":"tab","label":"Malindo PM","disabled":false,"info":""},{"id":"f33a61b.8b722a","type":"modbus-read","z":"83cdf817.9185c8","name":"tonnage_hm1","topic":"tonnage_hm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"1","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":80,"wires":[[],["23f7db36.4289b4"]]},{"id":"102344d0.c8823b","type":"function","z":"83cdf817.9185c8","name":"Float 32","func":"msg['value'] = msg.payload.buffer.readFloatBE(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":560,"wires":[["3718f3f0.3f16cc"]]},{"id":"a9f40182.ae019","type":"join","z":"83cdf817.9185c8","name":"","mode":"custom","build":"object","property":"value","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"42","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":480,"wires":[["d345c2e3.22289"]]},{"id":"ed59d2a9.303c7","type":"function","z":"83cdf817.9185c8","name":"Int /10","func":"msg['value'] = msg.payload.buffer.readInt16BE(0)/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":880,"wires":[["3718f3f0.3f16cc"]]},{"id":"e456eb42.11dd18","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_motor_hm1","topic":"kwh_motor_hm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"29","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":780,"wires":[[],["102344d0.c8823b"]]},{"id":"4b0ea484.b824fc","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_system_hm1","topic":"kwh_system_hm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"15","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":420,"wires":[[],["804dd561.483358"]]},{"id":"576f91f1.17a38","type":"modbus-read","z":"83cdf817.9185c8","name":"current_hm1","topic":"current_hm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"43","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":1120,"wires":[[],["ed59d2a9.303c7"]]},{"id":"a2244d7c.e8c8","type":"modbus-read","z":"83cdf817.9185c8","name":"voltage_hm1","topic":"voltage_hm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"59","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":1340,"wires":[[],["ed59d2a9.303c7"]]},{"id":"3718f3f0.3f16cc","type":"simpletime","z":"83cdf817.9185c8","name":"","x":770,"y":700,"wires":[["95be4b3c.e0e478"]]},{"id":"95be4b3c.e0e478","type":"function","z":"83cdf817.9185c8","name":"add_ymd","func":"msg['datetime'] = msg.myyear+'-'+msg.mymonthn+'-'+msg.mydom+' '+msg.mytimes;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["a9f40182.ae019"]]},{"id":"525323ce.01a7dc","type":"modbus-read","z":"83cdf817.9185c8","name":"tonnage_hm2","topic":"tonnage_hm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"3","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":120,"wires":[[],["23f7db36.4289b4"]]},{"id":"c88cff77.6dc74","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_system_hm2","topic":"kwh_system_hm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"18","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":460,"wires":[[],["406e53ba.2bce7c"]]},{"id":"bf27e04c.31bb7","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_motor_hm2","topic":"kwh_motor_hm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"31","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":820,"wires":[[],["102344d0.c8823b"]]},{"id":"4afb2e7.047c8d","type":"modbus-read","z":"83cdf817.9185c8","name":"current_hm2","topic":"current_hm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"45","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":1160,"wires":[[],["ed59d2a9.303c7"]]},{"id":"fd45c48d.9e51f8","type":"modbus-read","z":"83cdf817.9185c8","name":"current_hm3","topic":"current_hm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"47","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":1200,"wires":[[],["ed59d2a9.303c7"]]},{"id":"3bee8784.cd2bb8","type":"modbus-read","z":"83cdf817.9185c8","name":"voltage_hm2","topic":"voltage_hm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"61","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":1380,"wires":[[],["ed59d2a9.303c7"]]},{"id":"a8f762dd.0f8db","type":"modbus-read","z":"83cdf817.9185c8","name":"voltage_hm3","topic":"voltage_hm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"63","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":1420,"wires":[[],["ed59d2a9.303c7"]]},{"id":"df7f3098.edb99","type":"modbus-read","z":"83cdf817.9185c8","name":"tonnage_hm3","topic":"tonnage_hm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"5","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":160,"wires":[[],["23f7db36.4289b4"]]},{"id":"2275fcac.d8b434","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_system_hm3","topic":"kwh_system_hm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"20","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":500,"wires":[[],["406e53ba.2bce7c"]]},{"id":"bf32bee.e73f74","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_motor_hm3","topic":"kwh_motor_hm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"33","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":860,"wires":[[],["102344d0.c8823b"]]},{"id":"caa9baa1.6e8198","type":"modbus-read","z":"83cdf817.9185c8","name":"tonnage_pm1","topic":"tonnage_pm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"7","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":220,"wires":[[],["23f7db36.4289b4"]]},{"id":"84dcea9e.73f968","type":"modbus-read","z":"83cdf817.9185c8","name":"tonnage_pm2","topic":"tonnage_pm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"9","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":260,"wires":[[],["23f7db36.4289b4"]]},{"id":"dfb95d23.b89aa","type":"modbus-read","z":"83cdf817.9185c8","name":"tonnage_pm3","topic":"tonnage_pm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"11","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":300,"wires":[[],["23f7db36.4289b4"]]},{"id":"6a4dbe62.e5faf","type":"modbus-read","z":"83cdf817.9185c8","name":"tonnage_pm4","topic":"tonnage_pm4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"13","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":340,"wires":[[],["23f7db36.4289b4"]]},{"id":"8d456871.d65e38","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_system_pm1","topic":"kwh_system_pm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"22","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":560,"wires":[[],["406e53ba.2bce7c"]]},{"id":"f8b0103f.78bb","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_system_pm2","topic":"kwh_system_pm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"24","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":600,"wires":[[],["406e53ba.2bce7c"]]},{"id":"4d2e0672.695be8","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_system_pm3","topic":"kwh_system_pm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"26","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":640,"wires":[[],["406e53ba.2bce7c"]]},{"id":"facab382.9118a","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_motor_pm1","topic":"kwh_motor_pm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"35","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":920,"wires":[[],["102344d0.c8823b"]]},{"id":"1c68dd20.ea7973","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_motor_pm2","topic":"kwh_motor_pm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"37","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":960,"wires":[[],["102344d0.c8823b"]]},{"id":"1db9fbf7.1a1204","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_motor_pm3","topic":"kwh_motor_pm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"39","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":1000,"wires":[[],["102344d0.c8823b"]]},{"id":"cf95f7bf.0a7258","type":"modbus-read","z":"83cdf817.9185c8","name":"current_pm1","topic":"current_pm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"51","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1080,"wires":[[],["ed59d2a9.303c7","ab8021e.265cde"]]},{"id":"b9ff593.8b26da8","type":"modbus-read","z":"83cdf817.9185c8","name":"current_pm2","topic":"current_pm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"53","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1120,"wires":[[],["ed59d2a9.303c7","ab8021e.265cde"]]},{"id":"5a99333d.cc0cec","type":"modbus-read","z":"83cdf817.9185c8","name":"current_pm3","topic":"current_pm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"55","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1160,"wires":[[],["ed59d2a9.303c7","ab8021e.265cde"]]},{"id":"efdb6c0.e7b3498","type":"modbus-read","z":"83cdf817.9185c8","name":"current_pm4","topic":"current_pm4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"57","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1200,"wires":[[],["ed59d2a9.303c7","ab8021e.265cde"]]},{"id":"c24ed708.a92a68","type":"modbus-read","z":"83cdf817.9185c8","name":"voltage_pm1","topic":"voltage_pm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"65","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1300,"wires":[[],["ed59d2a9.303c7"]]},{"id":"fc18c2ed.a5445","type":"modbus-read","z":"83cdf817.9185c8","name":"voltage_pm2","topic":"voltage_pm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"67","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1340,"wires":[[],["ed59d2a9.303c7"]]},{"id":"45f63cf7.fa75c4","type":"modbus-read","z":"83cdf817.9185c8","name":"voltage_pm3","topic":"voltage_pm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"69","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1380,"wires":[[],["ed59d2a9.303c7"]]},{"id":"d65542df.a16b","type":"modbus-read","z":"83cdf817.9185c8","name":"voltage_pm4","topic":"voltage_pm4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"71","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":1420,"wires":[[],["ed59d2a9.303c7"]]},{"id":"23f7db36.4289b4","type":"function","z":"83cdf817.9185c8","name":"float","func":"msg['value'] = msg.payload.buffer.readFloatBE(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":220,"wires":[["3718f3f0.3f16cc"]]},{"id":"2683eb36.8d5f84","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_hm1","topic":"current_motor_hm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"73","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":1540,"wires":[[],["46870e14.a8b46"]]},{"id":"b2ee0a37.7e72d8","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_hm2","topic":"current_motor_hm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"75","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":1580,"wires":[[],["46870e14.a8b46"]]},{"id":"42106dad.b97cf4","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_hm3","topic":"current_motor_hm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"77","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":1620,"wires":[[],["46870e14.a8b46"]]},{"id":"50e873e4.f0916c","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_pm1","topic":"current_motor_pm1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"79","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":530,"y":1520,"wires":[[],["46870e14.a8b46"]]},{"id":"a1cac6d2.48e228","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_pm2","topic":"current_motor_pm2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"81","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":530,"y":1560,"wires":[[],["46870e14.a8b46"]]},{"id":"8a739cf7.182f5","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_pm3","topic":"current_motor_pm3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"83","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":530,"y":1600,"wires":[[],["46870e14.a8b46","e1f1ade5.0f46b"]]},{"id":"a4f0cd1e.ee14b","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_pm4","topic":"current_motor_pm4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"85","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":530,"y":1660,"wires":[[],["d8bd696d.783738"]]},{"id":"46870e14.a8b46","type":"function","z":"83cdf817.9185c8","name":"Float 32","func":"msg['value'] = msg.payload.buffer.readFloatBE(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1440,"wires":[["3718f3f0.3f16cc"]]},{"id":"18a44502.5cb4fb","type":"function","z":"83cdf817.9185c8","name":"Tonnage Calculate","func":"msg['value']['aio_hm1'] = msg.value.tonnage_hm1;\nmsg['value']['aio_hm2'] = msg.value.tonnage_hm2;\nmsg['value']['aio_hm3'] = msg.value.tonnage_hm3;\nmsg['value']['aio_pm1'] = msg.value.tonnage_pm1;\nmsg['value']['aio_pm2'] = msg.value.tonnage_pm2;\nmsg['value']['aio_pm3'] = msg.value.tonnage_pm3;\nmsg['value']['aio_pm4'] = msg.value.tonnage_pm4;\n\nmsg['value']['totalizer_hm1'] = msg.value.totalizer_hm1;\nmsg['value']['totalizer_hm2'] = msg.value.totalizer_hm2;\nmsg['value']['totalizer_hm3'] = msg.value.totalizer_hm3;\n\nmsg['value']['totalizer_hm1'] =  roundValue(msg.value.totalizer_hm1);\nmsg['value']['totalizer_hm2'] =  roundValue(msg.value.totalizer_hm2);\nmsg['value']['totalizer_hm3'] =  roundValue(msg.value.totalizer_hm3);\n\nmsg['value']['tonnage_hm1'] =  roundValue((((0.003682454) * (filterValueHm(msg.value.tonnage_hm1) - 14930)) + 3.15 )/1800);\nmsg['value']['tonnage_hm2'] =  roundValue((((0.000698262) * (filterValueHm(msg.value.tonnage_hm2) - 14930)) + 8.71 )/1800);\nmsg['value']['tonnage_hm3'] =  roundValue((((0.002016851) * (filterValueHm(msg.value.tonnage_hm3) - 13271)) + 3.86 )/1800);\n\nmsg['value']['tonnage_pm1'] =  roundValue((((0.000597391) * (filterValuePm(msg.value.tonnage_pm1) - 5585)) + 3.17 )/1800);\nmsg['value']['tonnage_pm2'] =  roundValue((((0.000558757) * (filterValuePm(msg.value.tonnage_pm2) - 5474)) + 3.23 )/1800);\nmsg['value']['tonnage_pm3'] =  roundValue((((0.000948887) * (filterValuePm(msg.value.tonnage_pm3) - 5640)) + 6.13 )/1800);\nmsg['value']['tonnage_pm4'] =  roundValue((((0.001798240) * (filterValuePm(msg.value.tonnage_pm4) - 2710)) + 5.74 )/1800);\n\n\nfunction filterValuePm(tonnage){\n    if(tonnage < 3000){\n        return 0\n    }\n    return tonnage;\n}\n\nfunction filterValueHm(tonnage){\n    if(tonnage < 3000){\n        return 0\n    }\n    return tonnage;\n}\n\nfunction roundValue(val){\n    if (val<0){\n        return parseFloat(0.001)\n    }else{\n        let fix = val.toString().substring(0, 8);\n        return parseFloat(fix);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":560,"wires":[["2144cf08.a3087"]]},{"id":"1ca1c4eb.c6bc0b","type":"debug","z":"83cdf817.9185c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"value","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1800,"wires":[]},{"id":"cafe6cd.14b7e9","type":"debug","z":"83cdf817.9185c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":360,"wires":[]},{"id":"406e53ba.2bce7c","type":"function","z":"83cdf817.9185c8","name":"int/1000","func":"msg['value'] = msg.payload.buffer.readInt16BE(0)/1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["3718f3f0.3f16cc"]]},{"id":"d345c2e3.22289","type":"function","z":"83cdf817.9185c8","name":"QUERY MALINDO","func":" let query =`INSERT INTO public.hp_mill(\"tstamp\",\"device\",\"tonnage\",\"kwh_sys\",\"kwh_motor\",\"current\",\"voltage\",\"current_motor\") VALUES  \n('`+msg.datetime+`','HAMMER MILL 1', `+msg.value.tonnage_hm1.toFixed(8)+` ,`+msg.value.kwh_system_hm1+` ,`+msg.value.kwh_motor_hm1.toFixed(4)+` ,`+msg.value.current_hm1+`,`+msg.value.voltage_hm1+`,`+msg.value.current_motor_hm1.toFixed(4)+`),\n('`+msg.datetime+`','HAMMER MILL 2', `+msg.value.tonnage_hm2.toFixed(8)+` ,`+msg.value.kwh_system_hm2+` ,`+msg.value.kwh_motor_hm2.toFixed(4)+` ,`+msg.value.current_hm2+`,`+msg.value.voltage_hm2+`,`+msg.value.current_motor_hm2.toFixed(4)+`),\n('`+msg.datetime+`','HAMMER MILL 3', `+msg.value.tonnage_hm3.toFixed(8)+` ,`+msg.value.kwh_system_hm3+` ,`+msg.value.kwh_motor_hm3.toFixed(4)+` ,`+msg.value.current_hm3+`,`+msg.value.voltage_hm3+`,`+msg.value.current_motor_hm3.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 1', `+msg.value.tonnage_pm1.toFixed(8)+` ,`+msg.value.kwh_system_pm1+` ,`+msg.value.kwh_motor_pm1.toFixed(4)+` ,`+msg.value.current_pm1+`,`+msg.value.voltage_pm1+`,`+msg.value.current_motor_pm1.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 2', `+msg.value.tonnage_pm2.toFixed(8)+` ,`+msg.value.kwh_system_pm2+` ,`+msg.value.kwh_motor_pm2.toFixed(4)+` ,`+msg.value.current_pm2+`,`+msg.value.voltage_pm2+`,`+msg.value.current_motor_pm2.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 3', `+msg.value.tonnage_pm3.toFixed(8)+` ,`+msg.value.kwh_system_pm3+` ,`+msg.value.kwh_motor_pm3.toFixed(4)+` ,`+msg.value.current_pm3+`,`+msg.value.voltage_pm3+`,`+msg.value.current_motor_pm3.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 4', `+msg.value.tonnage_pm4.toFixed(8)+` ,`+msg.value.kwh_system_pm4+` ,`+msg.value.kwh_motor_pm4.toFixed(4)+` ,`+msg.value.current_pm4+`,`+msg.value.voltage_pm4+`,`+msg.value.current_motor_pm4.toFixed(4)+`);\n`\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":400,"wires":[["e10b2f1.86abcd","b7318ca4.8900e"]]},{"id":"e10b2f1.86abcd","type":"postgres","z":"83cdf817.9185c8","postgresdb":"3a1cfffb.51f8","name":"posrgre_local","output":true,"outputs":1,"x":1360,"y":280,"wires":[["cafe6cd.14b7e9"]]},{"id":"17130582.626d4a","type":"postgres","z":"83cdf817.9185c8","d":true,"postgresdb":"87e9b56b.aaa698","name":"postgre_vps","output":true,"outputs":1,"x":1430,"y":440,"wires":[[]]},{"id":"6d450026.91b45","type":"function","z":"83cdf817.9185c8","name":"QUERY MALINDO","func":" let query =`INSERT INTO public.hp_mill(\"tstamp\",\"device\",\"tonnage\",\"kwh_sys\",\"kwh_motor\",\"current\",\"voltage\",\"current_motor\") VALUES  \n('`+msg.datetime+`','HAMMER MILL 1', `+msg.value.tonnage_hm1.toFixed(8)+` ,`+msg.value.kwh_system_hm1+` ,`+msg.value.kwh_motor_hm1.toFixed(4)+` ,`+msg.value.current_hm1+`,`+msg.value.voltage_hm1+`,`+msg.value.current_motor_hm1.toFixed(4)+`),\n('`+msg.datetime+`','HAMMER MILL 2', `+msg.value.tonnage_hm2.toFixed(8)+` ,`+msg.value.kwh_system_hm2+` ,`+msg.value.kwh_motor_hm2.toFixed(4)+` ,`+msg.value.current_hm2+`,`+msg.value.voltage_hm2+`,`+msg.value.current_motor_hm2.toFixed(4)+`),\n('`+msg.datetime+`','HAMMER MILL 3', `+msg.value.tonnage_hm3.toFixed(8)+` ,`+msg.value.kwh_system_hm3+` ,`+msg.value.kwh_motor_hm3.toFixed(4)+` ,`+msg.value.current_hm3+`,`+msg.value.voltage_hm3+`,`+msg.value.current_motor_hm3.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 1', `+msg.value.tonnage_pm1.toFixed(8)+` ,`+msg.value.kwh_system_pm1+` ,`+msg.value.kwh_motor_pm1.toFixed(4)+` ,`+msg.value.current_pm1+`,`+msg.value.voltage_pm1+`,`+msg.value.current_motor_pm1.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 2', `+msg.value.tonnage_pm2.toFixed(8)+` ,`+msg.value.kwh_system_pm2+` ,`+msg.value.kwh_motor_pm2.toFixed(4)+` ,`+msg.value.current_pm2+`,`+msg.value.voltage_pm2+`,`+msg.value.current_motor_pm2.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 3', `+msg.value.tonnage_pm3.toFixed(8)+` ,`+msg.value.kwh_system_pm3+` ,`+msg.value.kwh_motor_pm3.toFixed(4)+` ,`+msg.value.current_pm3+`,`+msg.value.voltage_pm3+`,`+msg.value.current_motor_pm3.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 4', `+msg.value.tonnage_pm4.toFixed(8)+` ,`+msg.value.kwh_system_pm4+` ,`+msg.value.kwh_motor_pm3.toFixed(4)+` ,`+msg.value.current_pm4+`,`+msg.value.voltage_pm4+`,`+msg.value.current_motor_pm3.toFixed(4)+`);\n`\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":500,"wires":[["17130582.626d4a"]]},{"id":"445192af.9f531c","type":"debug","z":"83cdf817.9185c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":1100,"wires":[]},{"id":"c6db9b50.86cd48","type":"modbus-read","z":"83cdf817.9185c8","name":"current_motor_pm4","topic":"current_motor_pm4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"85","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":1820,"wires":[[],["e6c661a3.1ea38"]]},{"id":"ff8a76c2.42c168","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_motor_pm4","topic":"kwh_motor_pm4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"41","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":1040,"wires":[[],["d7f40a7c.355d88"]]},{"id":"d7f40a7c.355d88","type":"function","z":"83cdf817.9185c8","name":"uint32","func":"msg['value'] = msg.payload.buffer.readUInt32BE(0)/1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":840,"wires":[["3718f3f0.3f16cc"]]},{"id":"1ea118b1.d0ada7","type":"modbus-read","z":"83cdf817.9185c8","name":"kwh_system_pm4","topic":"kwh_system_pm4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"27","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2896d210.ed247e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":700,"wires":[[],["406e53ba.2bce7c","1bce8016.aab4a"]]},{"id":"e6c661a3.1ea38","type":"function","z":"83cdf817.9185c8","name":"uint32forin16","func":"msg['value'] = msg.payload.buffer.readUInt32BE(0)/1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1820,"wires":[["1ca1c4eb.c6bc0b"]]},{"id":"d8bd696d.783738","type":"function","z":"83cdf817.9185c8","name":"uint32forin16","func":"msg['value'] = msg.payload.buffer.readUInt32BE(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1500,"wires":[["3718f3f0.3f16cc"]]},{"id":"804dd561.483358","type":"function","z":"83cdf817.9185c8","name":"uint32","func":"msg['value'] = msg.payload.buffer.readUInt32BE(0)/1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["3718f3f0.3f16cc"]]},{"id":"f81c2acf.04ac48","type":"debug","z":"83cdf817.9185c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"value","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":1560,"wires":[]},{"id":"ab8021e.265cde","type":"function","z":"83cdf817.9185c8","name":"Int /10","func":"msg['value'] = msg.payload.buffer.readInt16BE(0)/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1140,"wires":[[]]},{"id":"e1f1ade5.0f46b","type":"function","z":"83cdf817.9185c8","name":"Float 32","func":"msg['value'] = msg.payload.buffer.readFloatBE(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1620,"wires":[["f81c2acf.04ac48"]]},{"id":"63ef7f23.5c3ea","type":"function","z":"83cdf817.9185c8","name":"QUERY MALINDO","func":" let query =`SELECT id, receiver_product_ident, product_name, start_date_actual,type\n\tFROM public.hp_materials where type like '%GRD1%' ORDER BY start_date_actual DESC LIMIT 1`;\n\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":740,"wires":[["a41d7004.372b3"]]},{"id":"2144cf08.a3087","type":"trigger","z":"83cdf817.9185c8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1160,"y":620,"wires":[[]]},{"id":"a41d7004.372b3","type":"postgres","z":"83cdf817.9185c8","postgresdb":"3a1cfffb.51f8","name":"postgre_local","output":true,"outputs":1,"x":1450,"y":740,"wires":[[]]},{"id":"edd6bb3e.5fc508","type":"inject","z":"83cdf817.9185c8","name":"Trigger Write PLC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":890,"y":940,"wires":[["4c4137a8.43ad58"]]},{"id":"9837dca9.6dfb3","type":"trigger","z":"83cdf817.9185c8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1020,"y":740,"wires":[["63ef7f23.5c3ea"]]},{"id":"d9d4a15c.6bccf","type":"s7 out","z":"83cdf817.9185c8","endpoint":"a2096eed.a2bae","variable":"HM1","name":"WRITE HM1","x":1670,"y":880,"wires":[]},{"id":"89024f96.7a8cd","type":"s7 out","z":"83cdf817.9185c8","endpoint":"a2096eed.a2bae","variable":"HM2","name":"WRITE HM2","x":1670,"y":940,"wires":[]},{"id":"1a1d15b0.b36e6a","type":"s7 out","z":"83cdf817.9185c8","endpoint":"a2096eed.a2bae","variable":"HM3","name":"WRITE HM3","x":1670,"y":1000,"wires":[]},{"id":"4c4137a8.43ad58","type":"http request","z":"83cdf817.9185c8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.28.11/plant-reporting/public/api/raw","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":940,"wires":[["f539842.76c0378"]]},{"id":"f539842.76c0378","type":"function","z":"83cdf817.9185c8","name":"json parse","func":"msg.payload = JSON.parse(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":940,"wires":[["7cd253b4.c2a8bc","b2f4c980.2c3a28","81308e66.6030e","445192af.9f531c"]]},{"id":"7cd253b4.c2a8bc","type":"function","z":"83cdf817.9185c8","name":"hm1","func":"msg.payload = msg.payload.hm1\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":880,"wires":[["d9d4a15c.6bccf"]]},{"id":"b2f4c980.2c3a28","type":"function","z":"83cdf817.9185c8","name":"hm2","func":"msg.payload = msg.payload.hm2\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":940,"wires":[["89024f96.7a8cd"]]},{"id":"81308e66.6030e","type":"function","z":"83cdf817.9185c8","name":"hm3","func":"msg.payload = msg.payload.hm3\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1000,"wires":[["1a1d15b0.b36e6a"]]},{"id":"dec4e9c3.9cd548","type":"comment","z":"83cdf817.9185c8","name":"","info":"Ambil nama pakan melalui rest api lalu valuenya di write ke plc","x":840,"y":900,"wires":[]},{"id":"b7318ca4.8900e","type":"function","z":"83cdf817.9185c8","name":"QUERY MALINDO","func":" let query =`INSERT INTO public.temp_hp_mill(\"tstamp\",\"device\",\"tonnage\",\"kwh_sys\",\"kwh_motor\",\"current\",\"voltage\",\"current_motor\") VALUES  \n('`+msg.datetime+`','HAMMER MILL 1', `+msg.value.tonnage_hm1.toFixed(8)+` ,`+msg.value.kwh_system_hm1+` ,`+msg.value.kwh_motor_hm1.toFixed(4)+` ,`+msg.value.current_hm1+`,`+msg.value.voltage_hm1+`,`+msg.value.current_motor_hm1.toFixed(4)+`),\n('`+msg.datetime+`','HAMMER MILL 2', `+msg.value.tonnage_hm2.toFixed(8)+` ,`+msg.value.kwh_system_hm2+` ,`+msg.value.kwh_motor_hm2.toFixed(4)+` ,`+msg.value.current_hm2+`,`+msg.value.voltage_hm2+`,`+msg.value.current_motor_hm2.toFixed(4)+`),\n('`+msg.datetime+`','HAMMER MILL 3', `+msg.value.tonnage_hm3.toFixed(8)+` ,`+msg.value.kwh_system_hm3+` ,`+msg.value.kwh_motor_hm3.toFixed(4)+` ,`+msg.value.current_hm3+`,`+msg.value.voltage_hm3+`,`+msg.value.current_motor_hm3.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 1', `+msg.value.tonnage_pm1.toFixed(8)+` ,`+msg.value.kwh_system_pm1+` ,`+msg.value.kwh_motor_pm1.toFixed(4)+` ,`+msg.value.current_pm1+`,`+msg.value.voltage_pm1+`,`+msg.value.current_motor_pm1.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 2', `+msg.value.tonnage_pm2.toFixed(8)+` ,`+msg.value.kwh_system_pm2+` ,`+msg.value.kwh_motor_pm2.toFixed(4)+` ,`+msg.value.current_pm2+`,`+msg.value.voltage_pm2+`,`+msg.value.current_motor_pm2.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 3', `+msg.value.tonnage_pm3.toFixed(8)+` ,`+msg.value.kwh_system_pm3+` ,`+msg.value.kwh_motor_pm3.toFixed(4)+` ,`+msg.value.current_pm3+`,`+msg.value.voltage_pm3+`,`+msg.value.current_motor_pm3.toFixed(4)+`),\n('`+msg.datetime+`','PELLET MILL 4', `+msg.value.tonnage_pm4.toFixed(8)+` ,`+msg.value.kwh_system_pm4+` ,`+msg.value.kwh_motor_pm4.toFixed(4)+` ,`+msg.value.current_pm4+`,`+msg.value.voltage_pm4+`,`+msg.value.current_motor_pm4.toFixed(4)+`);\n`\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":540,"wires":[["e10b2f1.86abcd"]]},{"id":"1bce8016.aab4a","type":"function","z":"83cdf817.9185c8","name":"int/1000","func":"msg['value'] = msg.payload.buffer.readUInt32BE(0)/1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":660,"wires":[["3718f3f0.3f16cc"]]},{"id":"2896d210.ed247e","type":"modbus-client","z":"","name":"BIJIer","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.28.13","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"3a1cfffb.51f8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"plant_reporting","ssl":false},{"id":"87e9b56b.aaa698","type":"postgresdb","z":"","hostname":"iotjpa.com","port":"5432","db":"jpa_malindo","ssl":false},{"id":"a2096eed.a2bae","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.28.12","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"1000","timeout":"1500","verbose":"default","name":"PLC-S7","vartable":[{"addr":"DB3,R308","name":"PM1"},{"addr":"DB22,WORD0","name":"HM1"},{"addr":"DB22,WORD2","name":"HM2"},{"addr":"DB22,WORD4","name":"HM3"}]}]